#picture
 	 {
		  float: right;
 	 }
body 
	{
		font: 16px Times new Roman;
		background: linen;
		padding-bottom: 50px;
	}
#bodyContainer
	{
		width: 800px;
		margin: 40px auto 60px;
	}
.date
	{
		float: right;
	}
#wrap
	{
  		max-width:700px;
  		margin: auto;
	}
