#picture
 	 {
		  float: right;
 	 }
body 
	{
		font: 16px Times new Roman;
		background: url(Backgroundbase.jpg);{
  		max-width:700px;
 		margin: auto;
	}
#bodyContainer
	{
		width: 800px;
		margin: 40px auto 60px;
	}
.date
	{
		float: right;
	}
