#picture
 	 {
		  float: right;
 	 }
body 
	{
		font: 18px Times New Roman;
		background: linen;
		padding-bottom: 50px;
	}
aboutMe
	{
		font: 24px Times New Roman:
	}
.date
	{
		float: right;
	}
#wrap
	{
  		max-width:800px;
  		margin: 30px auto 50px;
	}
name 	
	{
		font-size : 28px;
		font-style : Bold;
	}
edu
	{
		font-size : 28px;	
	}
