.about {
    display: flex;
    height: 60vh;
    width: 100%;
}

.about-left {
    display: flex;
    flex: 1;
    height: 100%;
    border: 1px solid red;
}

.about-center {
    display: flex;
    flex: 8;
    height: 100%;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
}

.about-center-container {
    display: flex;
    height: 65%;
    width: 80%;
    border: 1px solid red;
}

.about-center-left {
    display: flex;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
    padding: 0 2%
}

.about-center-right {
    display: flex;
    flex-direction: column;
    flex: 6;
    border: 1px solid green;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: #F8F8F8;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #11111820;
}

.profile-img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #11111850;
    object-position: center -35px;
}

.about-right {
    display: flex;
    flex: 1;
    height: 100%;
    border: 1px solid red;
}

.about-center-right-top {
    display: flex;
    flex: 2;
    width: 100%;
    border: 1px solid blue;
    align-items: flex-end;
}

.title {
    color: #9C9C9C;
    padding-left: 2.5%;
    font-size: x-large;
    font-weight: bold;
    user-select: none;
    margin: 8px 0;
}

.about-center-right-middle {
    display: flex;
    flex: 3;
    width: 100%;
    border: 1px solid yellow;
}

.about-center-right-bottom {
    display: flex;
    flex: 5;
    width: 100%;
    border: 1px solid pink;
}